@model IEnumerable<LeeInfo.Data.CreditCard.CcdRecord>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RecordDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deposit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expend)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CcdData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CcdPos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecordDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcdData.CreditCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CcdPos.PosName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
