@model IEnumerable<CcdData>
@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = Context.Request.Path.ToString();
}

<link rel="stylesheet" href="~/css/datatables.min.css" />
<script src="~/js/datatables.min.js"></script>
<script>
    $(function () {
        $('#example1').DataTable(
            {
                'order': [[4, "asc"]],
                'pageLength':10,
                initComplete: function () {
                    $("#mytool").append('<a id="createModal" data-toggle="modal" data-target="#modal-action" class="btn btn-primary" href="@path/Create"><i class="glyphicon glyphicon-plus"></i> Create</a>');
                }
            })
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewData["action"]
        <small>@ViewData["controller"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["area"]</a></li>
        <li class="active"> @ViewData["controller"]</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @*<h3 class="box-title">Data Table With Full Features</h3>*@
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example1" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CcdPerson.PersonName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IssuingBank)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreditCardNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Limit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccountBill)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RepaymentDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BillAmount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrePayment)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CcdPerson.PersonName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssuingBank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreditCardNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Limit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountBill)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RepaymentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrePayment)
                        </td>
                        <td style="min-width:225px">
                            <a id="editModal" data-toggle="modal" asp-action="Edit" asp-route-id="@item.CreditCardId" data-target="#modal-action" class="btn-sm btn-primary" style="width:70px;margin-right:5px; min-width:50px;">
                                <i class="glyphicon glyphicon-pencil"></i> Edit
                            </a>
                            <a id="deleteModal" data-toggle="modal" asp-action="Delete" asp-route-id="@item.CreditCardId" data-target="#modal-action" class="btn-sm btn-warning" style="width:70px;margin-right:5px; min-width:50px;">
                                <i class="glyphicon glyphicon-trash"></i> Delete
                            </a>
                            <a id="addbillModal" data-toggle="modal" asp-action="AddBill" asp-route-id="@item.CreditCardId" data-target="#modal-action" class="btn-sm btn-info" style="width:70px;margin-right:5px; min-width:50px;">
                                <i class="glyphicon glyphicon-pencil"></i> AddBill
                            </a>
                        </td>
                    </tr>
    }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
