<section class="content-header">
    <h1>
        @ViewData["action"]
        <small>@ViewData["controller"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["area"]</a></li>
        <li><a asp-action="Index"> @ViewData["controller"]</a></li>
        <li class="active"> @ViewData["action"]</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form asp-action="@ViewData["action"]" role="form">
                    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = ViewData["action"].ToString() + "\t" + ViewData["controller"].ToString() })
                    @*<div class="box-header with-border">
                        </div>*@
                    <div class="box-body">
                        @RenderBody()
                    </div>
                    @*<div class="box-footer col-md-offset-8">
                                <button type="submit">提交</button><button asp-action="Index">返回</button>
                        </div>*@
                    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
                </form>
            </div>
        </div>
    </div>
</section>
