@inject UserManager<AppIdentityUser> _userManager
@{
    AppIdentityUser _user = await _userManager.FindByNameAsync(User.Identity.Name);
    DateTime _dt = _user.RegisterDate;
    string str_dt = _dt.ToString("MMM. yyyy", new System.Globalization.CultureInfo("en-us"));
    var list_roles = await _userManager.GetRolesAsync(_user);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] | LeeInfo</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/css/adminlte.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/icheck/all.css" />
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a asp-action="Index" asp-controller="Home" asp-area="" class="logo">
                <span class="logo-mini"><b>L</b>IF</span>
                <span class="logo-lg"><b>Lee</b>Info</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @await Component.InvokeAsync("Forex")
                        @await Component.InvokeAsync("Alert")
                        @await Component.InvokeAsync("Task")
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@_user.UserImage" class="user-image" alt="User Image">
                                <span class="hidden-xs">@_userManager.GetUserName(User)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="@_user.UserImage" class="img-circle" alt="User Image">
                                    <p>
                                        @User.Identity.Name - LeeInfo
                                        <small>Member since @str_dt</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a id="editModal" data-toggle="modal" asp-action="Edit" asp-controller="UserAdmin" asp-route-area="AppIdentity" asp-route-id="@_userManager.GetUserId(User)" data-target="#modal-action" class="btn btn-default btn-flat">个人信息</a>
                                    </div>
                                    <div class="pull-right">
                                        <a asp-action="Logout" asp-controller="Account" asp-route-area="AppIdentity" class="btn btn-default btn-flat">注销</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@_user.UserImage" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@_userManager.GetUserName(User) </p>
                        <a href="/AppIdentity/Account/Logout"><i class="fa fa-circle text-success"></i> 在线</a>
                    </div>
                </div>
                @await Component.InvokeAsync("Menu", list_roles)
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                You're everything to me.
            </div>
            <strong>Copyright &copy; 2018 <a href="/">LeeInfo</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        @Html.Partial("_ControlSidebarPartial")
        <div class="control-sidebar-bg"></div>
    </div>
    @Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", AreaLabeledId = "modal-action-label", Size = ModalSize.Medium })
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/icheck/icheck.min.js"></script>
    <script src="~/js/layout.js"></script>
    <script>
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
        $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        })
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red'
        })
        $('input[type="checkbox"].layout-flat-blue, input[type="radio"].layout-flat-blue').iCheck({
            checkboxClass: 'icheckbox_flat-blue pull-right',
            radioClass: 'iradio_flat-blue pull-right'
        })
    </script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
