@model Tuple<ConnectAPI, List<FrxAccount>>
@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<!--Style-->
<style>
    .table th {
        text-align: center !important;
    }

    .table td {
        text-align: center !important;
    }

    .description-text {
        color: darkgray !important;
    }
</style>
<!---Content-Header-->
<section class="content-header">
    <h1>
        @ViewData["action"]
        <small>@ViewData["controller"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["area"]</a></li>
        <li class="active"> @ViewData["controller"]</li>
    </ol>
</section>
<!--Content-->
<section class="content">
    <!--基本信息-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">持仓明细</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" title="切换账号">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var f in Model.Item2)
                                {
                                    <li><a href="@Url.Action("Index","FrxPosition",new { acId=f.AccountId })"><i class="fa fa-circle-o text-light-blue"></i>@f.AccountNumber</a></li>
                                }
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" style="margin:30px">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table id="table-posGroup" class="table table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="col2-visible">品种ID</th>
                                            <th>品种</th>
                                            <th>多空</th>
                                            <th>均价</th>
                                            <th class="col2-visible">数量</th>
                                            <th>手数</th>
                                            <th class="col2-color">利息</th>
                                            <th class="col2-color">点数</th>
                                            <th class="col2-color">利润</th>
                                            <th class="col2-color">收益率</th>
                                            <th class="col2-visible">位数</th>
                                            <th class="col2-visible">类别</th>
                                            <th class="col2-visible">最小数量</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="PosGroupChart" style="height:300px"></div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 id="balance" class="description-header"></h5>
                                <span class="description-text">账户余额</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 id="equity" class="description-header"></h5>
                                <span class="description-text">账户净值</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 id="unrnet" class="description-header"></h5>
                                <span class="description-text">账户净浮动</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 id="marginUsed" class="description-header"></h5>
                                <span class="description-text">已用保证金</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 id="freeMargin" class="description-header"></h5>
                                <span class="description-text">可用保证金</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block">
                                <h5 id="marginLevel" class="description-header"></h5>
                                <span class="description-text">保证金水平</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--持仓明细-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">持仓明细</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" title="显示隐藏列">
                                <i class="fa fa-table"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                <li><input type="checkbox" class="toggle-vis" data-column="1" />&emsp;<small>品种ID</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="2" />&emsp;<small>标签</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="3" />&emsp;<small>注释</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="4" />&emsp;<small>平台</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="7" />&emsp;<small>数量</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="10" />&emsp;<small>修改时间</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="15" />&emsp;<small>保证金</small></li>
                                <li><input type="checkbox" class="toggle-vis" data-column="16" />&emsp;<small>佣金</small></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" title="切换账号">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var f in Model.Item2)
                                {
                                    <li><a href="@Url.Action("Index","FrxPosition",new { acId=f.AccountId })"><i class="fa fa-circle-o text-light-blue"></i>@f.AccountNumber</a></li>
                                }
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            <input type="text" placeholder="搜索" id="search" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <select id="date_select" class="form-control select2" style="width: 100%;">
                                <option value="7">全部</option>
                                <option value="0">今天</option>
                                <option value="1">昨天</option>
                                <option value="2">最后一周</option>
                                <option value="3">本月</option>
                                <option value="4">上个月</option>
                                <option value="5">最后三个月</option>
                                <option value="6">最后一年</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="开始日期" id="date_beg" class="form-control datepickertemp">
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="结束日期" id="date_end" class="form-control datepickertemp">
                        </div>
                    </div>
                    <table id="table-pos" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>ID(标签/注释)</th>
                                <th class="col-visible">品种ID</th>
                                <th class="col-visible">标签</th>
                                <th class="col-visible">注释</th>
                                <th class="col-visible">平台</th>
                                <th>品种</th>
                                <th>多空</th>
                                <th class="col-visible">数量</th>
                                <th>手数</th>
                                <th>开仓时间</th>
                                <th class="col-visible">修改时间</th>
                                <th>开仓价</th>
                                <th>当前价</th>
                                <th>止赢</th>
                                <th>止损</th>
                                <th class="col-visible">保证金</th>
                                <th class="col-visible">佣金</th>
                                <th class="col-color">利息</th>
                                <th class="col-color">点数</th>
                                <th class="col-color">利润</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th colspan="19" style="text-align:right !important">合计:</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/range-pos.js"></script>
    <script>
        $(function () {
            //初始化参数
            var _connect =@Html.Raw(Json.Serialize(Model.Item1));
            var _getSymbolUrl = "/Forex/FrxPosition/GetSymbol";
            var _getPosGroupUrl = "/Forex/FrxPosition/GetPosGroup";
            var PosGroupChart = echarts.init(document.getElementById('PosGroupChart'));
            var legendData = [];
            var seriesData = [];
            var _posGroup = [];
            var _symbols = [];

            //#region Ajax optionAjax
            var optionAjax = {
                type: "post",
                async: true,
                url: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                success: function (result) {
                },
                error: function (errorMsg) {
                    alert("请求数据失败!");
                }
            };
            //#endregion

            //#region Ajax GetSymbol
            function GetSymbol() {
                optionAjax.url = _getSymbolUrl;
                optionAjax.data = JSON.stringify({});
                optionAjax.success = function (result) {
                    _symbols = result.data;
                };

                $.ajax(optionAjax);
            };
            //#endregion

            //#region Ajax GetPosGroup
            function GetPosGroup() {
                optionAjax.url = _getPosGroupUrl;
                optionAjax.data = JSON.stringify({ accountId: _connect.accountId, apiUrl: _connect.apiUrl, accessToken: _connect.accessToken, balance: _connect.balance, preciseLeverage: _connect.preciseLeverage });
                optionAjax.success = function (result) {
                    //获取数据
                    _posGroup = result.posgroup;
                    for (var i = 0; i < _posGroup.length; i++) {
                        var minlot = 0.00;
                        if (_posGroup[i].assetClass == 1 || _posGroup[i].assetClass == 2)
                            minlot = 0.01;
                        else
                            minlot = 1;
                        _posGroup[i].lot = _posGroup[i].volume / _posGroup[i].minOrderVolume * minlot * 100;

                        var _name = _posGroup[i].symbolName;
                        var _value = parseFloat(_posGroup[i].lot).toFixed(2);
                        legendData.push(_name);
                        seriesData.push({ name: _name, value: _value });
                    }
                    //初始化图表
                    PosGroupChart.hideLoading();
                    PosGroupChart.setOption({
                        legend: {
                            data: legendData
                        },
                        series: [
                            {
                                name: 'SymbolCode',
                                data: seriesData
                            }
                        ]
                    });
                    //初始化表
                    table_posGroup.api().clear();
                    table_posGroup.api().rows.add(_posGroup).draw();
                    CalculateAccount(result.accountinfo);
                    table_pos.api().clear();
                    table_pos.api().rows.add(result.positions).draw();
                };

                $.ajax(optionAjax);
            };
            //#endregion

            //#region PosGroupChart设置
            PosGroupChart.setOption({
                title: {
                    text: 'Positions',
                    show: false
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    show:true,
                    type: 'scroll',
                    orient: 'vertical',
                    right: 10,
                    top: 10,
                    bottom: 10,
                    data: legendData
                },
                series: [
                    {
                        name: 'SymbolCode',
                        type: 'pie',
                        radius: [0, '55%'],
                        center: ['50%', '50%'],
                        data: seriesData,
                        label: {
                            normal: {
                                formatter: '{b} {d}%',
                            }
                        },
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });
            PosGroupChart.showLoading();
            //#endregion

            //#region 初始化table_pos
            var table_pos = $('#table-pos').dataTable(
                {
                    order: [[9, "desc"]],
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    processing: true,
                    data: [],
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                    columns: [
                        { data: "positionId" },
                        { data: "symbolId" },
                        { data: "label" },
                        { data: "comment" },
                        { data: "channel" },
                        { data: "symbolName" },
                        { data: "tradeSide" },
                        { data: "volume" },
                        { data: "lot" },
                        { data: "entryTimestamp" },
                        { data: "utcLastUpdateTimestamp" },
                        { data: "entryPrice" },
                        { data: "currentPrice" },
                        { data: "takeProfit" },
                        { data: "stopLoss" },
                        { data: "marginRate" },
                        { data: "commission" },
                        { data: "swap" },
                        { data: "profitInPips" },
                        { data: "profit" },
                    ],
                    columnDefs: [
                        {
                            targets: "col-visible",
                            visible: false,
                        },
                        {
                            targets: "col-color",
                            createdCell: function (td, cellData, rowData, row, col) {
                                if (cellData > 0)
                                    $(td).css('color', '#4cae05');
                                else
                                    $(td).css('color', '#ff5256');
                            },
                        },
                        {
                            targets: 0,
                            orderable: false,
                            render: function (data, type, row, meta) {
                                return '<span title="' + row.label + '/' + row.comment + '">' + data + '</span>';
                            }
                        },
                        {
                            targets: 8,
                            render: function (data, type, row, meta) {
                                if (_symbols != null) {
                                    var lot = 0.00;
                                    $.each(_symbols, function () {
                                        if (this.symbolId == row.symbolId) {
                                            var minlot = 0.00;
                                            if (this.assetClass == 1 || this.assetClass == 2)
                                                minlot = 0.01;
                                            else {
                                                minlot = 1;
                                            }
                                            lot = row.volume / this.minOrderVolume * minlot;
                                            return false;
                                        }
                                    });
                                    return lot.toFixed(2);
                                }
                                return 0.00;
                            }
                        },
                        {

                        },
                        {
                            targets: [9, 10],
                            render: function (data, type, row, meta) {
                                result = moment(data).format('YYYY-MM-DD hh:mm:ss');
                                return result;
                            }
                        },
                        {
                            targets: [11, 12, 13, 14],
                            render: function (data, type, row, meta) {
                                if (data != null) {
                                    if (_symbols != null) {
                                        var price = 0.00;
                                        $.each(_symbols, function () {
                                            if (this.symbolId == row.symbolId) {
                                                price = data.toFixed(this.pipPosition);
                                                return false;
                                            }
                                        });
                                        return price;
                                    }
                                }
                                return data;
                            }
                        },
                        {
                            targets: [15],
                            render: function (data, type, row, meta) {
                                return (row.volume / 100 * row.marginRate / _connect.preciseLeverage).toFixed(2);
                            }
                        },
                        {
                            targets: [16],
                            render: function (data, type, row, meta) {
                                return (data / 100 * 2).toFixed(2);
                            }
                        },
                        {
                            targets: [17],
                            render: function (data, type, row, meta) {
                                return (data / 100).toFixed(2);
                            }
                        },
                        {
                            targets: 19,
                            render: function (data, type, row, meta) {
                                var result = row.profit + row.swap + row.commission * 2;
                                return (result / 100).toFixed(2);
                            }
                        },
                    ],
                    footerCallback: function (tfoot, data, start, end, display) {
                        var api = this.api(), data;

                        var intVal = function (i) { return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0; };

                        total = api.column(16).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0)*2;
                        total += api.column(17).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                        total += api.column(19).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                        total = total / 100;
                        pageTotal = api.column(16, { page: 'current' }).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0)*2;
                        pageTotal += api.column(17, { page: 'current' }).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                        pageTotal += api.column(19, { page: 'current' }).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                        pageTotal = pageTotal / 100;
                        $(api.column(19).footer()).html('$' + pageTotal.toFixed(2) + "/" + '$' + total.toFixed(2));
                    }
                });
            $("#search").keyup(function () { table_pos.api().search($("#search").val()).draw(); });
            $("#refrash").click(function () { RefrashPosition(); });
            //显示隐藏列
            $('.toggle-vis').on('change', function (e) {
                e.preventDefault();
                console.log($(this).attr('data-column'));
                var column = table_pos.api().column($(this).attr('data-column'));
                column.visible(!column.visible());
            });

            $("#date_beg,#date_end").keyup(function () { table_pos.api().draw(); });
            $("#date_beg,#date_end").change(function () { table_pos.api().draw(); });
            //#endregion

            //#region 初始化table_posGroup
            var table_posGroup = $('#table-posGroup').dataTable(
                {
                    order: [[8, "desc"]],
                    info: false,
                    paging: false,
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    processing: true,
                    data: [],
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                    columns: [
                        { data: "symbolId" },
                        { data: "symbolName" },
                        { data: "tradeSide" },
                        { data: "entryPrice" },
                        { data: "volume" },
                        { data: "lot" },
                        { data: "swap" },
                        { data: "pips" },
                        { data: "profit" },
                        { data: "gain" },
                        { data: "pipPosition" },
                        { data: "assetClass" },
                        { data: "minOrderVolume" },
                    ],
                    columnDefs: [
                        {
                            targets: "col2-visible",
                            visible: false,
                        },
                        {
                            targets: "col2-color",
                            createdCell: function (td, cellData, rowData, row, col) {
                                if (cellData > 0)
                                    $(td).css('color', '#4cae05');
                                else
                                    $(td).css('color', '#ff5256');
                            },
                        },
                        {
                            targets: [3],
                            render: function (data, type, row, meta) {
                                return data.toFixed(row.pipPosition);
                            }
                        },
                        {
                            targets: [5, 6, 7, 8],
                            render: function (data, type, row, meta) {
                                return data.toFixed(2);
                            }
                        },
                        {
                            targets: [9],
                            render: function (data, type, row, meta) {
                                return data.toFixed(2)+"%";
                            }
                        },
                    ],
                });
            //#endregion

            //#region 计算显示账号的数据
            function CalculateAccount(data) {
                if (data != null) {
                    $("#balance").text(data.balance.toFixed(2));
                    $("#equity").text(data.equity.toFixed(2));
                    $("#unrnet").text(data.unrNet.toFixed(2));
                    $("#marginUsed").text(data.marginUsed.toFixed(2));
                    $("#freeMargin").text(data.freeMargin.toFixed(2));
                    $("#marginLevel").text(data.marginLevel.toFixed(2) + " %");
                    if (data.unrNet > 0) {
                        $("#unrnet").css('color', '#4cae05');
                    }
                    else {
                        $("#unrnet").css('color', '#ff5256');
                    }
                }
            };
            //#endregion

            //#region 设置一些细节
            //var table = document.getElementById("posgroup");
            //var rowObj = null;
            //var cellObj = null;

            //for (var i = 1; i < table.rows.length; i++) {
            //    rowObj = table.rows[i];
            //    var s = rowObj.cells[6].innerHTML;
            //    if (s > 0)
            //        rowObj.cells[6].style.color = "#4cae05";
            //    else
            //        rowObj.cells[6].style.color = "#ff5256";
            //}

            $('.datepickertemp').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
            });
            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            });

            //Select2
            $('.select2').select2();
            //#endregion

            //#region Date-Range选择定义
            var now = new Date();
            var nowDayOfWeek = now.getDay();
            var nowDay = now.getDate();
            var nowMonth = now.getMonth();
            var nowYear = now.getYear();
            nowYear += (nowYear < 2000) ? 1900 : 0;
            var getCurrentDate = new Date(nowYear, nowMonth, nowDay + 1);
            var getCurrentDate = formatDate(getCurrentDate)
            var getTodayDate = new Date(nowYear, nowMonth, nowDay);
            var getTodayDate = formatDate(getTodayDate);
            var getYesterdayDate = new Date(nowYear, nowMonth, nowDay - 1);
            var getYesterdayDate = formatDate(getYesterdayDate);

            var getMonthStartDate = new Date(nowYear, nowMonth, 1);
            var getMonthStartDate = formatDate(getMonthStartDate);

            var getWeekStartDate = new Date(nowYear, nowMonth, nowDay - nowDayOfWeek);
            var getWeekStartDate = formatDate(getWeekStartDate);

            var getWeekEndDate = new Date(nowYear, nowMonth, nowDay + (6 - nowDayOfWeek));
            var getWeekEndDate = formatDate(getWeekEndDate);

            var getPreMonthStartDate = new Date(nowYear, nowMonth - 1, 1);
            var getPreMonthStartDate = formatDate(getPreMonthStartDate);

            var getFirMonthStartDate = new Date(nowYear, nowMonth - 1, nowDay);
            var getFirMonthStartDate = formatDate(getFirMonthStartDate);

            var getTreeMonthStartDate = new Date(nowYear, nowMonth - 3, nowDay);
            var getTreeMonthStartDate = formatDate(getTreeMonthStartDate);

            var getYearStartDate = new Date(nowYear, nowMonth - 12, nowDay);
            var getYearStartDate = formatDate(getYearStartDate);

            function formatDate(date) {
                var myyear = date.getFullYear();
                var mymonth = date.getMonth() + 1;
                var myweekday = date.getDate();

                if (mymonth < 10) {
                    mymonth = "0" + mymonth;
                }
                if (myweekday < 10) {
                    myweekday = "0" + myweekday;
                }
                return (myyear + "-" + mymonth + "-" + myweekday);
            }

            $("#date_select").change(function () {
                var flag = parseInt($("#date_select").val());
                switch (flag) {
                    // 当天
                    case 0:
                        $('#date_beg').val(getTodayDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 昨天
                    case 1:
                        $('#date_beg').val(getYesterdayDate);
                        $('#date_end').val(getTodayDate);
                        break;
                    // 本周
                    case 2:
                        $('#date_beg').val(getWeekStartDate);
                        $('#date_end').val(getWeekEndDate);
                        break;
                    // 当月
                    case 3:
                        $('#date_beg').val(getMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 上个月
                    case 4:
                        $('#date_beg').val(getPreMonthStartDate);
                        $('#date_end').val(getMonthStartDate);
                        break;
                    // 最近三月
                    case 5:
                        $('#date_beg').val(getTreeMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 最近一年
                    case 6:
                        $('#date_beg').val(getYearStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    default:
                        $('#date_beg').val("");
                        $('#date_end').val("");
                        break;
                }
                table_pos.api().draw();
            });
            //#endregion

            //#region 页面加载时执行的方法
            GetSymbol();
            GetPosGroup();
            //#endregion
        });
    </script>
}
