@model Tuple<FrxAccount, List<FrxAccount>, List<PosGroup>>
@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<style>
    .table th {
        text-align: center !important;
    }

    .table td {
        text-align: center !important;
    }
</style>
<section class="content-header">
    <h1>
        @ViewData["action"]
        <small>@ViewData["controller"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["area"]</a></li>
        <li class="active"> @ViewData["controller"]</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">基本信息</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var f in Model.Item2)
                                {
                                    <li><a href="@Url.Action("Index","FrxPosition",new { acId=f.AccountId })"><i class="fa fa-circle-o" style="color:skyblue"></i>@f.AccountNumber</a></li>
                                }
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" style="margin:30px">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table id="posgroup" class="table table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>品种</th>
                                            <th>多空</th>
                                            <th>均价</th>
                                            <th>手数</th>
                                            <th>利息</th>
                                            <th>点数</th>
                                            <th>利润</th>
                                            <th>收益率</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var p in Model.Item3)
                                        {
                                            <tr>
                                                <td>@p.SymbolCode</td>
                                                <td>@p.TradeType</td>
                                                <td>@Math.Round(p.EntryPrice, 4)</td>
                                                <td>@p.Quantity</td>
                                                <td>@p.Swap</td>
                                                <td>@Math.Round(p.Pips)</td>
                                                <td>@Math.Round(p.NetProfit)</td>
                                                <td>@Math.Round(p.Gain * 100, 2) %</td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="pieChart" style="height:300px"></div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 class="description-header">$@Model.Item1.Balance</h5>
                                <span class="description-text">账户余额</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 class="description-header">$@Model.Item1.Equity</h5>
                                <span class="description-text">账户净值</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 class="description-header">$@Model.Item1.UnrealizedNetProfit</h5>
                                <span class="description-text">账户净浮动</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 class="description-header">$@Model.Item1.MarginUsed</h5>
                                <span class="description-text">已用保证金</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block border-right">
                                <h5 class="description-header">$@Model.Item1.FreeMargin</h5>
                                <span class="description-text">可用保证金</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <div class="description-block">
                                <h5 class="description-header">@Model.Item1.MarginLevel %</h5>
                                <span class="description-text">保证金水平</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">持仓明细</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var f in Model.Item2)
                                {
                                    <li><a href="@Url.Action("Index","FrxPosition",new { acId=f.AccountId })"><i class="fa fa-circle-o" style="color:skyblue"></i>@f.AccountNumber</a></li>
                                }
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group col-md-12">
                        <div class="col-md-3">
                            <input type="text" placeholder="搜索" id="search" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <select id="date_select" class="form-control select2" style="width: 100%;">
                                <option value="7">全部</option>
                                <option value="0">今天</option>
                                <option value="1">昨天</option>
                                <option value="2">最后一周</option>
                                <option value="3">本月</option>
                                <option value="4">上个月</option>
                                <option value="5">最后三个月</option>
                                <option value="6">最后一年</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="开始日期" id="date_beg" class="form-control datepickertemp">
                        </div>
                        <div class="col-md-3">
                            <input type="text" placeholder="结束日期" id="date_end" class="form-control datepickertemp">
                        </div>
                        @*<div class="col-lg-2">
                                <button id="hehe" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i> 搜 索</button>
                            </div>*@
                    </div>
                    <table id="example_pos" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    ID(标签/注释)
                                </th>
                                <th>
                                    品种
                                </th>
                                <th>
                                    手数
                                </th>
                                <th>
                                    多空
                                </th>
                                <th>
                                    开仓时间
                                </th>
                                <th>
                                    开仓价
                                </th>
                                <th>
                                    当前价
                                </th>
                                <th>
                                    利息
                                </th>
                                <th>
                                    佣金
                                </th>
                                <th>
                                    平台
                                </th>
                                <th>
                                    点数
                                </th>
                                <th>
                                    利润
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th colspan="11" style="text-align:right !important">合计:</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    //For Chart
    <script>
        $(document).ready(function () {
            var myChart = echarts.init(document.getElementById('pieChart'));
            var legendData = [];
            var seriesData = [];
            myChart.setOption({
                title: {
                    text: 'Positions',
                    show: false
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    show:true,
                    type: 'scroll',
                    orient: 'vertical',
                    right: 10,
                    top: 10,
                    bottom: 10,
                    data: legendData
                },
                series: [
                    {
                        name: 'SymbolCode',
                        type: 'pie',
                        radius: [0, '55%'],
                        center: ['50%', '50%'],
                        data: seriesData,
                        label: {
                            normal: {
                                formatter: '{b} {d}%',
                            }
                        },
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            });

            myChart.showLoading();

            $.ajax({
                type: "post",
                async: true,
                url: "@Url.Action("GetPosGroup", "FrxPosition", new { acId = Model.Item1.AccountId })",
                data: {},
                dataType: "json",
                success: function (result) {
                    if (result) {
                        for (var i = 0; i < result.data.length; i++) {
                            var _name = result.data[i].symbolCode;
                            var _value = parseFloat(result.data[i].quantity).toFixed(2);
                            legendData.push(_name);
                            seriesData.push({ name: _name, value: _value });
                        }
                        myChart.hideLoading();
                        myChart.setOption({
                            legend: {
                                data: legendData
                            },
                            series: [
                                {
                                    name: 'SymbolCode',
                                    data: seriesData
                                }
                            ]
                        });
                    }
                },
                error: function (errorMsg) {
                    alert("图表请求数据失败!");
                    myChart.hideLoading();
                }
            })

        });
    </script>

    //For DataTables
    <script src="~/js/range_dates.js"></script>
    <script>
        $(document).ready(function () {
            var table_pos = $('#example_pos').dataTable(
                {
                    'dom':
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    'processing': true,
                    'ajax': {
                        'type': "POST",
                        'contentType': "application/json; charset=utf-8",
                        'url': "@Url.Action("GetPosition","FrxPosition",new { acId=Model.Item1.AccountId})"
                    },
                    "language": {
                        "processing": "加载中...",
                        "lengthMenu": "每页显示 _MENU_ 条数据",
                        "zeroRecords": "没有匹配结果",
                        "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "infoFiltered": "(由 _MAX_ 项结果过滤)",
                        "infoPostFix": "",
                        "search": "搜索:",
                        "url": "",
                        "emptyTable": "没有匹配结果",
                        "loadingRecords": "载入中...",
                        "thousands": ",",
                        "paginate": {
                            "first": "首页",
                            "previous": "上一页",
                            "next": "下一页",
                            "last": "末页"
                        },
                        "aria": {
                            "sortAscending": ": 以升序排列此列",
                            "sortDescending": ": 以降序排列此列"
                        }
                    },
                    'columns': [
                        { "data": "id" },
                        { "data": "symbolCode" },
                        { "data": "quantity" },
                        { "data": "tradeType" },
                        { "data": "entryTime" },
                        { "data": "entryPrice" },
                        { "data": "currentPrice" },
                        { "data": "swap" },
                        { "data": "commissions" },
                        { "data": "channel" },
                        { "data": "pips" },
                        { "data": "netProfit" }
                    ],
                    "columnDefs": [
                        {
                            "targets": 0,
                            render: function (data, type, row, meta) {
                                return '<span title="' + row.label + '/' + row.comment + '">' + data + '</span>';
                            }
                        },
                        {
                            "targets": 3,
                            render: function (data, type, row, meta) {
                                var tradetype = data;
                                if (tradetype == 0)
                                    return "BUY";
                                if (tradetype == 1)
                                    return "SELL";
                            }
                        },
                        {
                            "targets": 4,
                            render: function (data, type, row, meta) {
                                result = moment(data).format('YYYY-MM-DD hh:mm:ss');
                                return result;
                            }
                        },
                        {
                            "targets": [5, 6],
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                if (result > 50)
                                    return result.toFixed(2);
                                else
                                    return result.toFixed(4);
                            }
                        },
                        {
                            "targets": -2,
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                return Math.round(result);
                            }
                        },
                        {
                            "targets": -1,
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                return result.toFixed(2);
                            }
                        },
                        {
                            "targets": [7,10, 11],
                            "createdCell": function (td, cellData, rowData, row, col) {
                                if (cellData > 0)
                                    $(td).css('color', '#4cae05');
                                else
                                    $(td).css('color', '#ff5256');
                            },
                        },
                    ],
                    "footerCallback": function (tfoot, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) { return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0; };

                        // Total over all pages
                        total = api.column(11).data().reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                        // Total over this page
                        pageTotal = api.column(11, { page: 'current' }).data().reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                        // Update footer
                        $(api.column(11).footer()).html('$' + pageTotal.toFixed(2) + "/" + '$' + total.toFixed(2));
                    }
                });

            $("#date_beg,#date_end").keyup(function () { table_pos.api().draw(); });
            $("#date_beg,#date_end").change(function () { table_pos.api().draw(); });
            $("#search").keyup(function () { table_pos.api().search($("#search").val()).draw(); });

                var table = document.getElementById("posgroup")
                var rowObj = null;
                var cellObj = null;

                for (var i = 1; i < table.rows.length; i++) {
                    rowObj = table.rows[i];
                    var s = rowObj.cells[6].innerHTML;
                    if (s > 0)
                        rowObj.cells[6].style.color = "#4cae05";
                    else
                        rowObj.cells[6].style.color = "#ff5256";
                }

            var now = new Date();
            var nowDayOfWeek = now.getDay();
            var nowDay = now.getDate();
            var nowMonth = now.getMonth();
            var nowYear = now.getYear();
            nowYear += (nowYear < 2000) ? 1900 : 0;
            var getCurrentDate = new Date(nowYear, nowMonth, nowDay + 1);
            var getCurrentDate = formatDate(getCurrentDate)
            var getTodayDate = new Date(nowYear, nowMonth, nowDay);
            var getTodayDate = formatDate(getTodayDate);
            var getYesterdayDate = new Date(nowYear, nowMonth, nowDay - 1);
            var getYesterdayDate = formatDate(getYesterdayDate);

            var getMonthStartDate = new Date(nowYear, nowMonth, 1);
            var getMonthStartDate = formatDate(getMonthStartDate);

            var getWeekStartDate = new Date(nowYear, nowMonth, nowDay - nowDayOfWeek);
            var getWeekStartDate = formatDate(getWeekStartDate);

            var getWeekEndDate = new Date(nowYear, nowMonth, nowDay + (6 - nowDayOfWeek));
            var getWeekEndDate = formatDate(getWeekEndDate);

            var getPreMonthStartDate = new Date(nowYear, nowMonth - 1, 1);
            var getPreMonthStartDate = formatDate(getPreMonthStartDate);

            var getFirMonthStartDate = new Date(nowYear, nowMonth - 1, nowDay);
            var getFirMonthStartDate = formatDate(getFirMonthStartDate);

            var getTreeMonthStartDate = new Date(nowYear, nowMonth - 3, nowDay);
            var getTreeMonthStartDate = formatDate(getTreeMonthStartDate);

            var getYearStartDate = new Date(nowYear, nowMonth - 12, nowDay);
            var getYearStartDate = formatDate(getYearStartDate);

            function formatDate(date) {
                var myyear = date.getFullYear();
                var mymonth = date.getMonth() + 1;
                var myweekday = date.getDate();

                if (mymonth < 10) {
                    mymonth = "0" + mymonth;
                }
                if (myweekday < 10) {
                    myweekday = "0" + myweekday;
                }
                return (myyear + "-" + mymonth + "-" + myweekday);
            }

            $("#date_select").change(function () {
                var flag = parseInt($("#date_select").val());
                switch (flag) {
                    // 当天
                    case 0:
                        $('#date_beg').val(getTodayDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 昨天
                    case 1:
                        $('#date_beg').val(getYesterdayDate);
                        $('#date_end').val(getTodayDate);
                        break;
                    // 本周
                    case 2:
                        $('#date_beg').val(getWeekStartDate);
                        $('#date_end').val(getWeekEndDate);
                        break;
                    // 当月
                    case 3:
                        $('#date_beg').val(getMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 上个月
                    case 4:
                        $('#date_beg').val(getPreMonthStartDate);
                        $('#date_end').val(getMonthStartDate);
                        break;
                    // 最近三月
                    case 5:
                        $('#date_beg').val(getTreeMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 最近一年
                    case 6:
                        $('#date_beg').val(getYearStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    default:
                        $('#date_beg').val("");
                        $('#date_end').val("");
                        break;
                }
                table_pos.api().draw();
            });

            $('.datepickertemp').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
            });
            //Timepicker
            $('.timepicker').timepicker({
                showInputs: false
            });

            //Select2
            $('.select2').select2();
        });
    </script>
}
