@model Tuple<FrxAccount, List<FrxHistory>, List<FrxAccount>>
@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<style>
    .table th {
        text-align: center !important;
    }

    .table td {
        text-align: center !important;
    }
</style>
<section class="content-header">
    <h1>
        @ViewData["action"]
        <small>@ViewData["controller"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["area"]</a></li>
        <li class="active"> @ViewData["controller"]</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Info</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var f in Model.Item3)
                                {
                                    <li><a href="@Url.Action("Index","FrxHistory",new { acNum=f.AccountNumber.ToString() })"><i class="fa fa-circle-o" style="color:skyblue"></i>@f.AccountNumber</a></li>
                                }
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body" style="margin:30px">
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Histories</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var f in Model.Item3)
                                {
                                    <li><a href="@Url.Action("Index","FrxHistory",new { acNum=f.AccountNumber.ToString() })"><i class="fa fa-circle-o" style="color:skyblue"></i>@f.AccountNumber</a></li>
                                }
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group col-lg-12">
                        <div class="col-lg-3">
                            <input type="text" placeholder="Search" id="search" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <select id="date_select" class="form-control select2" style="width: 100%;">
                                <option value="0">最后一天</option>
                                <option value="1">最后一周</option>
                                <option value="2">最后一月</option>
                                <option value="3">最后三个月</option>
                                <option value="4">最后一年</option>
                                <option value="5" selected="selected">全部</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" placeholder="StartDate" id="date_beg" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" placeholder="EndDate" id="date_end" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <button id="hehe" class="btn btn-warning pull-right" type="button"><i class="fa fa-search"></i> 搜 索</button>
                        </div>
                    </div>
                    <table id="example_his" class="table  table-bordered table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    ID(Label/Comment)
                                </th>
                                <th>
                                    Symbol
                                </th>
                                <th>
                                    Direction
                                </th>
                                <th>
                                    OpeningTime
                                </th>
                                <th>
                                    ClosingTime
                                </th>
                                <th>
                                    EntryPrice
                                </th>
                                <th>
                                    ClosingPrice
                                </th>
                                <th>
                                    Volume
                                </th>
                                <th>
                                    Commission
                                </th>
                                <th>
                                    Swap
                                </th>
                                <th>
                                    Pips
                                </th>
                                <th>
                                    NetProfit
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th colspan="11" style="text-align:right !important">Total:</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
    </script>

    //For DataTables
    <script src="~/js/range_dates.js"></script>
    <script src="~/lib/chart.js/Chart.js"></script>
    <script>
        $(document).ready(function () {
            var table_his = $('#example_his').dataTable(
                {
                    'dom':
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    'processing': true,
                    'ajax': {
                        'type': "POST",
                        'contentType': "application/json; charset=utf-8",
                        'url': "/Forex/FrxHistory/GetHistory"
                    },
                    'columns': [
                        { "data": "closingDealId" },
                        { "data": "symbolCode" },
                        { "data": "tradeType" },
                        { "data": "entryTime" },
                        { "data": "closingTime" },
                        { "data": "entryPrice" },
                        { "data": "closingPrice" },
                        { "data": "volume" },
                        { "data": "commissions" },
                        { "data": "swap" },
                        { "data": "pips" },
                        { "data": "netProfit" }
                    ],
                    "columnDefs": [
                        {
                            "targets": 0,
                            render: function (data, type, row, meta) {
                                return '<span title="' + row.label + '/' + row.comment + '">' + data + '</span>';
                            }
                        },
                        {
                            "targets": 2,
                            render: function (data, type, row, meta) {
                                var tradetype = data;
                                if (tradetype == 0)
                                    return "BUY";
                                if (tradetype == 1)
                                    return "SELL";
                            }
                        },
                        {
                            "targets": [3, 4],
                            render: function (data, type, row, meta) {
                                result = moment(data).format('YYYY-MM-DD hh:mm:ss');
                                return result;
                            }
                        },
                        {
                            "targets": [5, 6],
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                if (result > 50)
                                    return result.toFixed(2);
                                else
                                    return result.toFixed(5);
                            }
                        },
                        {
                            "targets": -2,
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                return Math.round(result);
                            }
                        },
                        {
                            "targets": -1,
                            render: function (data, type, row, meta) {
                                var result = parseFloat(data);
                                return result.toFixed(2);
                            }
                        }
                    ],
                    "footerCallback": function (tfoot, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) { return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0; };
                        //var intVal = function (i) { return parseFloat(i) };

                        // Total over all pages
                        total = api.column(11).data().reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                        // Total over this page
                        pageTotal = api.column(11, { page: 'current' }).data().reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                        // Update footer
                        $(api.column(11).footer()).html('$' + pageTotal.toFixed(2) + "/" + '$' + total.toFixed(2));
                    }
                });
            $("#hehe").click(function () {
                $("#date_beg,#date_end").keyup(function () { table_his.api().draw(); });
                table_his.api().search($("#search").val()).draw();
            });
        });
    </script>

    //Get Date
    <script>
        $(document).ready(function () {
            var now = new Date();
            var nowDayOfWeek = now.getDay();
            var nowDay = now.getDate();
            var nowMonth = now.getMonth();
            var nowYear = now.getYear();
            nowYear += (nowYear < 2000) ? 1900 : 0;
            var getCurrentDate = new Date(nowYear, nowMonth, nowDay + 1);
            var getCurrentDate = formatDate(getCurrentDate)
            var getYesterdayDate = new Date(nowYear, nowMonth, nowDay);
            var getYesterdayDate = formatDate(getYesterdayDate);

            var getMonthStartDate = new Date(nowYear, nowMonth, 1);
            var getMonthStartDate = formatDate(getMonthStartDate);

            var getWeekStartDate = new Date(nowYear, nowMonth, nowDay - nowDayOfWeek);
            var getWeekStartDate = formatDate(getWeekStartDate);

            var getWeekEndDate = new Date(nowYear, nowMonth, nowDay + (6 - nowDayOfWeek));
            var getWeekEndDate = formatDate(getWeekEndDate);

            var getFirMonthStartDate = new Date(nowYear, nowMonth - 1, nowDay);
            var getFirMonthStartDate = formatDate(getFirMonthStartDate);

            var getTreeMonthStartDate = new Date(nowYear, nowMonth - 3, nowDay);
            var getTreeMonthStartDate = formatDate(getTreeMonthStartDate);

            var getYearStartDate = new Date(nowYear, nowMonth - 12, nowDay);
            var getYearStartDate = formatDate(getYearStartDate);

            function formatDate(date) {
                var myyear = date.getFullYear();
                var mymonth = date.getMonth() + 1;
                var myweekday = date.getDate();

                if (mymonth < 10) {
                    mymonth = "0" + mymonth;
                }
                if (myweekday < 10) {
                    myweekday = "0" + myweekday;
                }
                return (myyear + "-" + mymonth + "-" + myweekday);
            }

            $("#date_select").change(function () {
                var flag = parseInt($("#date_select").val());
                switch (flag) {
                    // 当天
                    case 0:
                        $('#date_beg').val(getYesterdayDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 本周
                    case 1:
                        $('#date_beg').val(getWeekStartDate);
                        $('#date_end').val(getWeekEndDate);
                        break;
                    // 最近一月
                    case 2:
                        $('#date_beg').val(getFirMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 最近三月
                    case 3:
                        $('#date_beg').val(getTreeMonthStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    // 最近一年
                    case 4:
                        $('#date_beg').val(getYearStartDate);
                        $('#date_end').val(getCurrentDate);
                        break;
                    default:
                        $('#date_beg').val("");
                        $('#date_end').val("");
                        break;
                }
            });
        });
    </script>

    //For Select2
    <script>
        $('.select2').select2()
    </script>
}
