@model IEnumerable<RecordGroupViewModel>

@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<section class="content-header">
    <h1>
        @ViewData["action"]
        <small>@ViewData["controller"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["area"]</a></li>
        <li class="active"> @ViewData["controller"]</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @*<h3 class="box-title">Data Table With Full Features</h3>*@
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <div class="col-md-2">
                        @Html.Partial("_PartialCreate", new CcdRecord { })
                    </div>
                    <div class="col-md-10">
                        <table id="example1" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PersonName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IssuingBank)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BillAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OutstandingAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RepaymentDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpendCount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ExpendSum)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Total)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreditCardId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PersonName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IssuingBank)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BillAmount)
                                        </td>
                                        <td style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:coral">
                                            @Html.DisplayFor(modelItem => item.OutstandingAmount)
                                        </td>
                                        <td style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                            @Html.DisplayFor(modelItem => item.RepaymentDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpendCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpendSum)
                                        </td>
                                        <td style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:fuchsia">
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@section Scripts{
    <script>
    $(function () {
        $('#example1').DataTable(
            {
                'order': [[5, "asc"]],
                'pageLength':10,
                initComplete: function () {
                    $("#mytool").append('<a  class="btn btn-primary" style="width:80px;border-radius:0;" href="@path/Index"><i class="glyphicon glyphicon-plus"></i> Index</a><a class="btn btn-primary" style="width:80px;border-radius:0;" href="@path/RecordList"><i class="glyphicon glyphicon-th-list"></i> Details</a><a  class="btn btn-primary" style="width:80px;border-radius:0;">@ViewBag.SumOut</a><a  class="btn btn-primary" style="width:80px;border-radius:0;">@ViewBag.SumTotal</a>');
                }
            })
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
    </script>
}
