@model IEnumerable<CcdRecord>
@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<section class="content-header">
    <h1>
        @ViewData["action"]
        <small>@ViewData["controller"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["area"]</a></li>
        <li class="active"> @ViewData["controller"]</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("RecordList", null, FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @*<h3 class="box-title">Data Table With Full Features</h3>*@
                    </div>
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>                                        
                                        @Html.DisplayNameFor(model => model.CreditCardId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RecordId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CcdData.CcdPerson.PersonName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CcdData.IssuingBank)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CcdPos.PosName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RecordDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Deposit)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Expend)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span><input type="checkbox" class="flat-blue" name="ids" value="@item.RecordId"></span>
                                            @Html.DisplayFor(modelItem => item.CreditCardId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem=>item.RecordId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CcdData.CcdPerson.PersonName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CcdData.IssuingBank)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CcdPos.PosName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RecordDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Deposit)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Expend)
                                        </td>
                                        <td style="min-width:150px">
                                            <a id="editModal" data-toggle="modal" asp-action="Edit" asp-route-id="@item.RecordId" data-target="#modal-action" class="btn-sm btn-primary" style="width:70px;margin-right:5px; min-width:50px;">
                                                <i class="glyphicon glyphicon-pencil"></i> Edit
                                            </a>
                                            <a id="deleteModal" data-toggle="modal" asp-action="Delete" asp-route-id="@item.RecordId" data-target="#modal-action" class="btn-sm btn-warning" style="width:70px;margin-right:5px; min-width:50px;">
                                                <i class="glyphicon glyphicon-trash"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        }
</section>
@section Scripts{
    <script>
    $(function () {
       $('#example1').DataTable(
            {
                'order': [[1, "desc"]],
                'pageLength':[10],
                initComplete: function () {
                    $("#mytool").append('<a class="btn btn-primary" style="width:80px;border-radius:0;" href="@path/Index"><i class="glyphicon glyphicon-th-list"></i> Index</a><a class="btn btn-primary" style="width:80px;border-radius:0;" href="@path/Create"><i class="glyphicon glyphicon-plus"></i> Create</a><button type="submit" class="btn btn-warning" style="width:80px;border-radius:0;"><i class="glyphicon glyphicon-trash"></i> DelAll</button>');
                }

            })
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
    </script>
}
