@model IEnumerable<FrxCbotset>
@{
    var actionName = ViewContext.RouteData.Values["action"].ToString();
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
    ViewData["action"] = actionName;
    ViewData["controller"] = controllerName;
    ViewData["area"] = areaName;
    ViewData["Title"] = controllerName;
    string path = "/" + areaName + "/" + controllerName;
}
<section class="content-header hidden-xs">
    <h1>
        @ViewData["action"]
        <small>@ViewData["controller"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @ViewData["area"]</a></li>
        <li class="active"> @ViewData["controller"]</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">交易参考</h3>
                </div>
                <div class="box-body table-responsive">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-6 col-xs-12 no-padding hidden-xs" style="margin-bottom:10px;">
                            <a id="createModal" data-toggle="modal" data-target="#modal-action" class="btn btn-primary" href="@path/Create"><i class="glyphicon glyphicon-plus"></i> Create</a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 no-padding pull-right" style="margin-bottom:10px;">
                            <input type="text" placeholder="搜索" id="search" class="form-control">
                        </div>
                    </div>
                    <table id="table-1" class="table  table-bordered table-striped table-hover" onmouseover="eFresh()" onmouseout="sFresh()" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Symbol
                                </th>
                                <th class="hidden-xs">
                                    V
                                </th>
                                <th class="hidden-xs">
                                    T-R-A
                                </th>
                                <th class="hidden-xs">
                                    B
                                </th>
                                <th class="hidden-xs">
                                    D
                                </th>
                                <th class="hidden-xs">
                                    M
                                </th>
                                <th class="hidden-xs">
                                    S
                                </th>
                                <th class="hidden-xs">
                                    T-B-F
                                </th>
                                <th class="hidden-xs">
                                    Cr
                                </th>
                                <th class="hidden-xs">
                                    Ca
                                </th>
                                <th>
                                    Sr
                                </th>
                                <th>
                                    Sa
                                </th>
                                <th class="hidden-xs">
                                    Ra
                                </th>
                                <th>
                                    Signal1
                                </th>
                                <th>
                                    Signal2
                                </th>
                                @{
                                    if (User.IsInRole("Admins"))
                                    {
                                        <th class="hidden-xs"></th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Symbol)
                                    </td>
                                    <td class="hidden-xs">
                                        @item.InitVolume
                                    </td>
                                    <td class="hidden-xs">
                                        @item.Tmr-@item.Result-@item.Average
                                    </td>
                                    <td class="hidden-xs">
                                        @item.Brk
                                    </td>
                                    <td class="hidden-xs">
                                        @item.Distance
                                    </td>
                                    <td class="hidden-xs">
                                        @item.Magnify
                                    </td>
                                    <td class="hidden-xs">
                                        @item.Sub
                                    </td>
                                    <td class="hidden-xs">
                                        <input type="checkbox" checked="@item.IsTrade" class="flat-blue" />&emsp;<input type="checkbox" checked="@item.IsBreak" class="flat-blue" />&emsp;<input type="checkbox" checked="@item.IsBrkFirst" class="flat-blue" />
                                    </td>
                                    <td class="hidden-xs">
                                        @Html.DisplayFor(modelItem => item.Cr)
                                    </td>
                                    <td class="hidden-xs">
                                        @Html.DisplayFor(modelItem => item.Ca)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sa)
                                    </td>
                                    <td class="hidden-xs">
                                        @item.SrSa
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Signal)
                                    </td>
                                    <td>
                                        @item.Signal2
                                    </td>
                                    @if (User.IsInRole("Admins"))
                                    {
                                        <td class="hidden-xs">
                                            <a id="editModal" data-toggle="modal" asp-action="Edit" asp-route-id="@item.Id" data-target="#modal-action" class="btn-sm btn-primary" style="width:70px;margin-right:5px; min-width:50px;">
                                                <i class="glyphicon glyphicon-pencil"></i> Edit
                                            </a>
                                            <a id="deleteModal" data-toggle="modal" asp-action="Delete" asp-route-id="@item.Id" data-target="#modal-action" class="btn-sm btn-warning" style="width:70px;margin-right:5px; min-width:50px;">
                                                <i class="glyphicon glyphicon-trash"></i> Delete
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            var table1 = $('#table-1').DataTable(
                {
                    order: [[13, "desc"], [14, "desc"]],
                    dom:
                        "<'row'<'col-sm-6'><'col-sm-6'>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        processing: "加载中...",
                        lengthMenu: "每页显示 _MENU_ 条数据",
                        zeroRecords: "没有匹配结果",
                        info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                        infoFiltered: "(由 _MAX_ 项结果过滤)",
                        infoPostFix: "",
                        search: "搜索:",
                        url: "",
                        emptyTable: "没有匹配结果",
                        loadingRecords: "载入中...",
                        thousands: ",",
                        paginate: {
                            first: "首页",
                            previous: "上一页",
                            next: "下一页",
                            last: "末页"
                        },
                        aria: {
                            sortAscending: ": 以升序排列此列",
                            sortDescending: ": 以降序排列此列"
                        }
                    },
                    columnDefs: [
                        {
                            targets: [2, 7, 8, 9, 15],
                            orderable: false,
                        }
                    ]

                });
            $("#search").keyup(function () { table1.search($("#search").val()).draw(); });

            //#region 显示隐藏列
            $('.toggle-vis').on('change', function (e) {
                e.preventDefault();
                console.log($(this).attr('data-column'));
                var column = table1.column($(this).attr('data-column'));
                column.visible(!column.visible());
            });
            //#endregion
        });

        var stop = 1;
        function myrefresh() {
            if (stop == 1) {
                window.location.reload();
            }
        }
        setTimeout('myrefresh()', 1000 * 60); //指定刷新时间60秒一刷
        function eFresh() {
            stop = 0;
        }
        function sFresh() {
            stop = 1;
            setTimeout('myrefresh()', 1000 * 60);
        }
    </script>
}
